
body {
    background-color: #F1F4FC;
}

h2 {
    color: #558BD9;
    font-weight: bold;
}

.sortRadioLabel {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.sortRadioInput {
    padding: 0px 150px 0px 0px;
}
input, button {
    font-size: 15px;
    background-color: #E2E9F8;
    border-color: #558BD9;
    border-radius: 10px;
    padding: 5px 5px;
}
div {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.EntriesLabel {
    font-weight: bold;
}
button {
    font-weight: bold;
}

table, th, td {
    border: 1px solid #558BD9;
    padding-left: 7px;
    padding-bottom: 22px;
    font-size: 15px;
}


